html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
   
      body {
        margin: 0;
        background-color: rgba(0, 0, 0, 0.0001);
        color: #373737;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
      }

    
      main {
        display: block;
        width: 100%;
        text-align: center;
      }
    
    
      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }
    
    
      hr {
        box-sizing: content-box; 
        height: 0; 
        overflow: visible; 
      }
    
      pre {
        font-family: monospace, monospace; 
        font-size: 1em; 
      }
    
    
      a {
        background-color: transparent;
        text-decoration: none;
        color: #FF0000;
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }
    
      sub {
        bottom: -0.25em;
      }
    
      sup {
        top: -0.5em;
      }
    
      img {
        border-style: none;
        width: 100%;
      }
    
      button,
      input { 
        overflow: visible;
      }
    
    

    
      
    
    
      
    
      
      
    
    
      
    
      
    
      
    
      
    
     
    
      
    
    
    
      
    
      
    
      ul[class]{
          margin: 0;
          padding: 0;
          list-style: none;
          text-align: center;
      }
      
    
    
    
     
    
      
    
      
    
     
      
    
      