.page-header{
    width: 100%;
}
.header-menu-item{
    display: inline-flex;
    margin: 25.5px 72px 25.5px 0;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}
.header-menu-item:nth-child(3){
    margin-right: 50px;
}
.content-title{
    margin: 0;
    padding: 48px 0 38px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}
.content-text{
    margin: 0;
    padding: 0px 67.5px 28px;
    font-weight: normal;
    text-transform: none;
    line-height: 26px;
}
.content-button{
    width: 191px;
    margin: 38px auto 42px auto;
    text-align: center;
    background-color: red;
    border-radius: 4px;
}
.content-button-link{
    display: inline-flex;
    margin: 18px 0;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}
.page-footer{
    width: 100%;
    min-height: 108px;
    text-align: right;
}
.copyright{
    margin: 0;
    padding: 40px 105px 0 0;
    text-transform: none;
    line-height: 20px;
}
